div.banner
  div.container
    div.banner__title Ин<span>ф</span>ормац<span>ио</span>нные т<span>ех</span>нологии
    div.banner__wrap
      div.banner__left
        div.banner__left-title Проекты
        div.banner__left-list
          div.banner__left-item
            span.banner__left-item-date 01-05 2021
            a.banner__left-item-title(href="#") Совместный проект со Сбербанком России
          div.banner__left-item
            span.banner__left-item-date 2020-2021
            a.banner__left-item-title(href="#") Подключение к единой системе холдинга Raffaisen
      div.banner__right
        a.banner__right-link(href="#") Scroll
          img.banner__right-img(src="img/svg/scroll.svg", alt="Scroll")
  div.banner__video
    video.banner__video-item(autoplay="autoplay", muted="muted", loop="loop")
      source(src="files/video.mp4", type="video/mp4")
