div.company
  div.container
    div.company__wrap
      div.company__left
        div.company__title Компания занимает прочную позицию на рынке IT услуг
        p Мы уверены, что от качества, структуры и эстетики контента зависит общее восприятие бренда, поэтому мы занимаемся созданием, оформлениеми размещением уникального контента.
        button.company_btn Начать работу
      div.company__right
        div.company__right-col
          img.company__right-img.company__right-img_company-1(src="img/content/company-1.jpg", alt="")
          img.company__right-img.company__right-img_company-2(src="img/content/company-2.jpg", alt="")
        div.company__right-col
          img.company__right-img.company__right-img_logo(src="img/svg/logo-dark.svg", alt="")
          img.company__right-img.company__right-img_company-3(src="img/content/company-3.jpg", alt="")
