div.draft
  div.container
    div.draft__wrap
      div.draft__case
        div.draft__case-title Проекты LURE <span>IT</span>
        p Самый большой IT Проект, который мы сделали за последний год. Было создано столько-то кейсов и прочих характеристик
        a.draft__case-more(href="case.html") Кейс проекта
      div.draft__slider
        div.draft__slider-wrap
          div.draft__slider__item
            div.draft__slider-left
              span.draft__slider-number 01.
              span.draft__slider-title Технологии, используемые в LURE IT и собственные разработки
            div.draft__slider-right
              img.draft__slider-right-img(src="img/content/draft-logo-1.png", alt="")
              img.draft__slider-right-img(src="img/content/draft-logo-2.png", alt="")
              img.draft__slider-right-img(src="img/content/draft-logo-2.png", alt="")
              img.draft__slider-right-img(src="img/content/draft-logo-1.png", alt="")
        div.draft__slider-dots
          button.draft__slider-dot.active
          button.draft__slider-dot
          button.draft__slider-dot
          button.draft__slider-dot
      div.draft__descr
        div.draft__descr-title LURE <span>IT</span> занимает прочную позицию на рынке IT услуг
        p Мы уверены, что от качества, структуры и эстетики контента зависит общее восприятие бренда, поэтому мы занимаемся созданием, оформлениеми размещением уникального контента.
  div.draft__ellipse
    img.draft__ellipse-img(src="img/svg/draft-ellipse.svg", alt="")
    img.draft__ellipse-img.draft__ellipse-img_mobile(src="img/svg/draft-ellipse-mobile.svg", alt="")
    button.draft__dot.active.draft__dot_first
    button.draft__dot.draft__dot_second
    button.draft__dot.draft__dot_three
    button.draft__dot.draft__dot_four
