div#service.service
  div.container
    div.service__wrap
      span.service__link.service__link--product Продукты
      a.service__link.service__link--services(href="services.html") Услуги
      a.service__link.service__link--solutions(href="#solution") Решения
    div.service__links
      div.service__links-wrap.owl-carousel
        div.service__links-column.service__links-column_products
          div.service__links-title Продукты
          ul.service__links-list
            li.service__links-item
              span.service__links-link
                svg.service__links-link-icon
                  use(xlink:href="img/sprite.svg#product-1")
                span.service__links-link-text Lure Soft
            li.service__links-item
              span.service__links-link
                svg.service__links-link-icon
                  use(xlink:href="img/sprite.svg#product-2")
                span.service__links-link-text Lure Soft
            li.service__links-item
              span.service__links-link
                svg.service__links-link-icon
                  use(xlink:href="img/sprite.svg#product-3")
                span.service__links-link-text Lure Soft
            li.service__links-item
              span.service__links-link
                svg.service__links-link-icon
                  use(xlink:href="img/sprite.svg#product-4")
                span.service__links-link-text Lure Soft
            li.service__links-item
              span.service__links-link
                svg.service__links-link-icon
                  use(xlink:href="img/sprite.svg#product-5")
                span.service__links-link-text Lure Soft
            li.service__links-item
              span.service__links-link
                svg.service__links-link-icon
                  use(xlink:href="img/sprite.svg#product-6")
                span.service__links-link-text Lure Soft
        div.service__links-column.service__links-column_service
          div.service__links-title Услуги
          ul.service__links-list
            li.service__links-item
              span.service__links-link
                svg.service__links-link-icon
                  use(xlink:href="img/sprite.svg#service-1")
                span.service__links-link-text Интеграция IT
            li.service__links-item
              span.service__links-link
                svg.service__links-link-icon
                  use(xlink:href="img/sprite.svg#service-2")
                span.service__links-link-text Написание модулей
            li.service__links-item
              span.service__links-link
                svg.service__links-link-icon
                  use(xlink:href="img/sprite.svg#service-3")
                span.service__links-link-text Разработка ПО
            li.service__links-item
              span.service__links-link
                svg.service__links-link-icon
                  use(xlink:href="img/sprite.svg#service-4")
                span.service__links-link-text Консультации
        div.service__links-column.service__links-column_solutions
          div.service__links-title Решения
          div.service__links-column-wrap
            ul.service__links-list
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-1")
                  span.service__links-link-text Web&Mobile разработка
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-2")
                  span.service__links-link-text Маркетинг
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-3")
                  span.service__links-link-text Игры
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-4")
                  span.service__links-link-text Sale force
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-5")
                  span.service__links-link-text Media production
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-6")
                  span.service__links-link-text Презентации
            ul.service__links-list
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-7")
                  span.service__links-link-text SEO
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-8")
                  span.service__links-link-text BTL
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-9")
                  span.service__links-link-text App
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-10")
                  span.service__links-link-text Promotion
              li.service__links-item
                span.service__links-link
                  svg.service__links-link-icon
                    use(xlink:href="img/sprite.svg#solution-11")
                  span.service__links-link-text Подключение сервисов
  div.service__menu.service__menu_index
    div.service__menu-wrap
      button.service__menu-btn menu
      img.service__menu-img(src="img/svg/logo-dark.svg", alt="Lure IT")
