div#solution.solution
  div.container
    div.solution__wrap
      div#v-pills-tab.solution__nav.nav.nav-pills(role="tablist")
        button#v-pills-home-tab.solution__btn.nav-link.active(data-bs-toggle="pill", data-bs-target="#v-pills-home", type="button", role="tab", aria-controls="v-pills-home", aria-selected="true") AI технологии
        button#v-pills-profile-tab.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") SMM&Content
        button#web.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") Web&Mobile
        button#design.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") Design&Branding
        button#distibutior.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") Distibutior
        button#movie.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") Movie
        button#btl.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") BTL
        button#retail.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") Retail
        button#marketing.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") Marketing&Idea
        button#game.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") Game
        button#seo.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") SEO
        button#celebrity.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") Celebrity
        button#crm.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") CRM
        button#context.solution__btn.nav-link(data-bs-toggle="pill", data-bs-target="#v-pills-profile", type="button", role="tab", aria-controls="v-pills-profile", aria-selected="false") Context
      div#v-pills-tabContent.solution__content.tab-content
        div#v-pills-home.solution__tab.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="v-pills-home-tab")
          div.solution__tab-title Решения IT LURE<br>для отраслей
          p Мы уверены, что от качества, структуры и эстетики контента зависит общее восприятие бренда, поэтому мы занимаемся созданием, оформлением и размещением уникального контента, продвиже нием в социальных сетях с целью роста количества подписчиков, улучшения репутации и максимального увеличения количества продаж.
          ul
            li Подготовка контент-планов;
            li Разработка уникального авторского контента;
            li Создание дизайна для оформления аккаунтов и постов;
            li Создание вирусных роликов, GIF-анимаций и мемов;
            li Продающий копирайтинг;
            li Контент-мерчендайзинг;
            li Таргетированная реклама;
            li Работа с тематическими пабликами, блоггерами и селебрити;
            li Размещение информации в Википедии;
            li Нейтрализация негативных отзывов в поисковых системах, социальных сетях и сторонних ресурсах;
            li Обслуживание и поддержка 24/7.
        div#v-pills-profile.solution__tab.tab-pane.fade(role="tabpanel", aria-labelledby="v-pills-profile-tab")
          div.solution__tab-title Решения IT LURE<br>для отраслей
          p Мы уверены, что от качества, структуры и эстетики контента зависит общее восприятие бренда, поэтому мы занимаемся созданием, оформлением и размещением уникального контента, продвиже нием в социальных сетях с целью роста количества подписчиков, улучшения репутации и максимального увеличения количества продаж.
          ul
            li Подготовка контент-планов;
            li Разработка уникального авторского контента;
            li Создание дизайна для оформления аккаунтов и постов;
            li Создание вирусных роликов, GIF-анимаций и мемов;
            li Продающий копирайтинг;
            li Контент-мерчендайзинг;
            li Таргетированная реклама;
            li Работа с тематическими пабликами, блоггерами и селебрити;
            li Размещение информации в Википедии;
            li Нейтрализация негативных отзывов в поисковых системах, социальных сетях и сторонних ресурсах;
            li Обслуживание и поддержка 24/7.
        div#web2.solution__tab.tab-pane.fade(role="tabpanel", aria-labelledby="v-pills-profile-tab")
          div.solution__tab-title Решения IT LURE<br>для отраслей
          p Мы уверены, что от качества, структуры и эстетики контента зависит общее восприятие бренда, поэтому мы занимаемся созданием, оформлением и размещением уникального контента, продвиже нием в социальных сетях с целью роста количества подписчиков, улучшения репутации и максимального увеличения количества продаж.
          ul
            li Подготовка контент-планов;
            li Разработка уникального авторского контента;
            li Создание дизайна для оформления аккаунтов и постов;
            li Создание вирусных роликов, GIF-анимаций и мемов;
            li Продающий копирайтинг;
            li Контент-мерчендайзинг;
            li Таргетированная реклама;
            li Работа с тематическими пабликами, блоггерами и селебрити;
            li Размещение информации в Википедии;
            li Нейтрализация негативных отзывов в поисковых системах, социальных сетях и сторонних ресурсах;
            li Обслуживание и поддержка 24/7.
