div#about-us.about-us
  div.container
    div.about-us__wrap
      div.about-us__year .... работаем в 1995 года
      div.about-us__text LURE <span>IT</span> — Системная интерграция, телекоммуникации и сетевые<br>технологии, облачные технологии, IT-системы, поставки ИТ-оборудования и ПО
      div.about-us__social
        div.about-us__social-title #мы_в_соцсетях
        div.about-us__social-wrap
          a.about-us__social-link(href="#", target="_blank")
            img.about-us__social-img(src="img/svg/menu-in.svg", alt="")
          a.about-us__social-link(href="#", target="_blank")
            img.about-us__social-img(src="img/svg/menu-facebook.svg", alt="")
      div.about-us__director
        img.about-us__director-img(src="img/content/about-man.png", alt="")
        div.about-us__director-right
          div.about-us__director-name Александр Константиновский <span>основатель LURE</span> IT
          p.about-us__director-text Главная ценность моей компании - это сильная команда специалистов. мы всегда работали только с лучшими. Высокие стандарты работы сложились у нас с самого основания компании. мы гордимся достижениями и рады, что наша философия делает нас компанией №1 в IT сфере.
        img.about-us__director-circle(src="img/svg/about-circle.svg", alt="")
  img.about-us__circle.about-us__circle_1(src="img/svg/case-circle-1.svg", alt="")
  img.about-us__circle.about-us__circle_2(src="img/svg/case-circle-2.svg", alt="")
  img.about-us__circle.about-us__circle_3(src="img/svg/case-circle-3.svg", alt="")
  img.about-us__circle.about-us__circle_4(src="img/svg/case-circle-4.svg", alt="")
  div.about-us__nav
    ul.about-us__nav-list
      li.about-us__nav-item.active
        a.about-us__nav-link(href="#about-us") <span>01</span> | LURE IT
      li.about-us__nav-item
        a.about-us__nav-link(href="#partner") <span>02</span> | Партнеры
      li.about-us__nav-item
        a.about-us__nav-link(href="#cer") <span>03</span> | Лицензии и Сертификаты
      li.about-us__nav-item
        a.about-us__nav-link(href="#vac") <span>04</span> | Вакансии
      li.about-us__nav-item
        a.about-us__nav-link(href="contacts.html") <span>05</span> | Контакты
