div#cer.cer
  div.container
    div.cer__title Лицензии и сертификаты
    div.cer__text Прововые и юридические документы, с которыми вы можете ознакомиться. Откроется в окне просмотра, доступно для скачивания
  div.cer__wrap
    div.cer__carousel.owl-carousel
      div.cer__item
        img.cer__item-img(src="img/content/cer-1.jpg", alt="")
        div.cer__item-text Сертификат поставщика услуг
      div.cer__item
        img.cer__item-img(src="img/content/cer-1.jpg", alt="")
        div.cer__item-text Разрешение на деятельность
      div.cer__item
        img.cer__item-img(src="img/content/cer-1.jpg", alt="")
        div.cer__item-text Свидетельство поставки на учет
      div.cer__item
        img.cer__item-img(src="img/content/cer-1.jpg", alt="")
        div.cer__item-text Свидетельство налоговой декларации
      div.cer__item
        img.cer__item-img(src="img/content/cer-1.jpg", alt="")
        div.cer__item-text Свидетельство стандартов связи
      div.cer__item
        img.cer__item-img(src="img/content/cer-1.jpg", alt="")
        div.cer__item-text Свидетельство стандартов связи
      div.cer__item
        img.cer__item-img(src="img/content/cer-1.jpg", alt="")
        div.cer__item-text Свидетельство стандартов связи
