div#partner.partner
  div.container
    div.partner__title Партнеры <span>LURE</span> IT
  div.partner__wrap
    div.partner__item
      img.partner__img(src="img/content/partner-1.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-2.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-3.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-4.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-5.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-6.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-7.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-8.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-9.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-10.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-11.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-12.png", alt="")
    div.partner__item
      img.partner__img(src="img/content/partner-13.png", alt="")

