div#vac.staff
  div.container
    div.staff__wrap
      //-div.staff__vacancy 04 | вакансии
      div.staff__title Карьера в LURE <span>IT</span>  —  лучшая инвестиция
      p.staff__text Компания основана с 1995 года, и за это время мы успели поработать с десятками крупных игроков на рынке. Только за последний год нам удалось внедрить разработки порядка 10% от общего числа участников, что есть значительная доля рынка.
      p.staff__text В настоящее время мы располагаемся в центре Москвы и имеем представительства в крупнейших городах РФ.
      a.staff__link(href="vacancy.html") Вакансии LURE IT
  img.staff__img(src="img/content/about-vacancy.png", alt="")
  img.staff__img.staff__img_mobile(src="img/content/about-staff-mobile.png", alt="")
