div.consulting
  div.consulting__wrap
    div.consulting__nav
      a.consulting__nav-link(href="#info1") Консалтинг и бизнес-интеграция
      a.consulting__nav-link(href="#info2") Инфраструктура и ЦОД
      a.consulting__nav-link(href="#info3") Сети и телекоммуникации
      a.consulting__nav-link(href="#info4") Информационная безопасность
      a.consulting__nav-link(href="#info5") Аутсорсинг и сервисные услуги
      div.consulting__line
  div.container
    div.consulting__content-wrap
      div#info1.consulting__business
        div.consulting__title Консалтинг и бизнес-интеграция
        div.consulting__text Мы по праву входим в число ведущих ИТ-компаний России} по размеру оборота, темпам роста, числу выполненных проектов, компетенциям специалистов
        div.consulting__list-wrap
          ul
            li IТ-аудит
            li IТ-консалтинг
            li Автоматизация и интеграция бизнес-процессов
            li Программная интеграция
            li Системы электронного документооборота
            li Мобильные решения
            li Промышленная автоматизация
          ul
            li Системы управления энергоэффективностью
            li Единый сервис для подачи документов на регистрацию прав собственности на недвижимость в Росреестре
            li Решение DES.ISS,mifl электронного согласования нарядов-допусков на работы повышенной опасности
          ul
            li Система управления лабораторной информацией DES.LIMS
            li Решение DES.MES для автоматизации процессов управления непрерывным производством
            li Программа для конструирования портальных решений «DR Platform»
      div#info2.consulting__business
        div.consulting__title Инфраструктура и ЦОД
        div.consulting__text Мы по праву входим в число ведущих ИТ-компаний России} по размеру оборота, темпам роста, числу выполненных проектов, компетенциям специалистов
        div.consulting__list-wrap
          ul
            li IТ-аудит
            li IТ-консалтинг
            li Автоматизация и интеграция бизнес-процессов
            li Программная интеграция
            li Системы электронного документооборота
            li Мобильные решения
            li Промышленная автоматизация
          ul
            li Системы управления энергоэффективностью
            li Единый сервис для подачи документов на регистрацию прав собственности на недвижимость в Росреестре
            li Решение DES.ISS,mifl электронного согласования нарядов-допусков на работы повышенной опасности
          ul
            li Система управления лабораторной информацией DES.LIMS
            li Решение DES.MES для автоматизации процессов управления непрерывным производством
            li Программа для конструирования портальных решений «DR Platform»
      div#info3.consulting__business
        div.consulting__title Сети и телекоммуникации
        div.consulting__text Мы по праву входим в число ведущих ИТ-компаний России} по размеру оборота, темпам роста, числу выполненных проектов, компетенциям специалистов
        div.consulting__list-wrap
          ul
            li IТ-аудит
            li IТ-консалтинг
            li Автоматизация и интеграция бизнес-процессов
            li Программная интеграция
            li Системы электронного документооборота
            li Мобильные решения
            li Промышленная автоматизация
          ul
            li Системы управления энергоэффективностью
            li Единый сервис для подачи документов на регистрацию прав собственности на недвижимость в Росреестре
            li Решение DES.ISS,mifl электронного согласования нарядов-допусков на работы повышенной опасности
          ul
            li Система управления лабораторной информацией DES.LIMS
            li Решение DES.MES для автоматизации процессов управления непрерывным производством
            li Программа для конструирования портальных решений «DR Platform»
      div#info4.consulting__business
        div.consulting__title Информационная безопасность
        div.consulting__text Мы по праву входим в число ведущих ИТ-компаний России} по размеру оборота, темпам роста, числу выполненных проектов, компетенциям специалистов
        div.consulting__list-wrap
          ul
            li IТ-аудит
            li IТ-консалтинг
            li Автоматизация и интеграция бизнес-процессов
            li Программная интеграция
            li Системы электронного документооборота
            li Мобильные решения
            li Промышленная автоматизация
          ul
            li Системы управления энергоэффективностью
            li Единый сервис для подачи документов на регистрацию прав собственности на недвижимость в Росреестре
            li Решение DES.ISS,mifl электронного согласования нарядов-допусков на работы повышенной опасности
          ul
            li Система управления лабораторной информацией DES.LIMS
            li Решение DES.MES для автоматизации процессов управления непрерывным производством
            li Программа для конструирования портальных решений «DR Platform»
      div#info5.consulting__business
        div.consulting__title Консалтинг и бизнес-интеграция
        div.consulting__text Мы по праву входим в число ведущих ИТ-компаний России} по размеру оборота, темпам роста, числу выполненных проектов, компетенциям специалистов
        div.consulting__list-wrap
          ul
            li IТ-аудит
            li IТ-консалтинг
            li Автоматизация и интеграция бизнес-процессов
            li Программная интеграция
            li Системы электронного документооборота
            li Мобильные решения
            li Промышленная автоматизация
          ul
            li Системы управления энергоэффективностью
            li Единый сервис для подачи документов на регистрацию прав собственности на недвижимость в Росреестре
            li Решение DES.ISS,mifl электронного согласования нарядов-допусков на работы повышенной опасности
          ul
            li Система управления лабораторной информацией DES.LIMS
            li Решение DES.MES для автоматизации процессов управления непрерывным производством
            li Программа для конструирования портальных решений «DR Platform»
  div.consulting__aside
    ul.consulting__aside-list
      li.consulting__aside-item
        a.consulting__aside-link(href="#info1") <span>01</span> | <span class="consulting__aside-link-name">Консалтинг и бизнес-интеграция</span>
      li.consulting__aside-item
        a.consulting__aside-link(href="#info2") <span>02</span> | <span class="consulting__aside-link-name">Инфраструктура и ЦОД</span>
      li.consulting__aside-item
        a.consulting__aside-link(href="#info3") <span>03</span> | <span class="consulting__aside-link-name">Сети и телекоммуникации</span>
      li.consulting__aside-item
        a.consulting__aside-link(href="#info4") <span>04</span> | <span class="consulting__aside-link-name">Информационная безопасность</span>
      li.consulting__aside-item
        a.consulting__aside-link(href="#info5") <span>05</span> | <span class="consulting__aside-link-name">Аутсорсинг и сервисные услуги</span>
