div.dev
  div.container
    div.dev__wrap
      div.dev__left
        div.dev__title LURE <span>IT</span> оказывает услуги по проектированию и разработке
        p Направления деятельности компании выходит за пределы представления о разработке и проектирования, позволяя решать нестандартные задачи с помочью новейших технологий и искусственного интеллекта
        div.dev__item
          span.dev__item-text Взаимодействия пользователей
          span.dev__item-number 75%
          div.dev__range
            div.dev__range-fill
        div.dev__item
          span.dev__item-text Доля IT разработок
          span.dev__item-number 95%
          div.dev__range
            div.dev__range-fill
      div.dev__right
        img.dev__right-img(src="img/content/graph.png", alt="")
