.footer {
  background: #1A1240;
  color: #ffffff;
  a {
    color: $white;
  }
}

footer.open {
  display: none;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 20px;
  border-bottom: 1px solid #484166;
}

.footer__col {
  width: 18%;
  &:nth-child(2) {
    width: 42.7%;
    display: flex;
  }
  &:nth-child(3) {
    width: 24%;
  }
}

.footer__col-logo-link {
  display: inline-block;
  margin-bottom: 18px;
}

.footer__col-logo-img {
  width: 159px;
  object-fit: cover;
}

.footer__col-about {
  margin-bottom: 28px;
  font-size: 12px;
  opacity: 0.5;
}

.footer__social-link {
  margin-right: 18px;
  &:last-child {
    margin-right: 0;
  }
}

.footer__col-menu {
  margin-right: 76px;
  ul {

    li {
      margin-bottom: 7px;
      a {
        font-size: 14px;
        color: $white;
        &:hover {
          color: #40b5e7;
        }
      }
    }
  }
}

.footer__col-menu-title {
  margin-bottom: 32px;
  font-family: $Comfortaa;
  font-weight: 700;
  color: #40B5E7;
  text-transform: uppercase;
}

.footer__col-contact-title {
  margin-bottom: 32px;
  padding-left: 34px;
  font-family: $Comfortaa;
  font-weight: 700;
  color: #40B5E7;
  text-transform: uppercase;
}

.footer__col-contact-item {
  margin-bottom: 9px;
  padding-left: 34px;
  font-size: 14px;
  &_address {
    background: url("../img/svg/map.svg") 4px 6px no-repeat;
  }
  &_phone {
    background: url("../img/svg/phone.svg") 4px 5px no-repeat;
    a {
      display: block;
    }
  }
  &_mail {
    background: url("../img/svg/mail.svg") 4px 2px no-repeat;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &_time {
    background: url("../img/svg/clock.svg") 4px 3px no-repeat;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.footer__copyright {
  padding: 10px 0;
  font-size: 14px;
}

.footer__copyright-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright-left {
  display: flex;
  padding-top: 4px;
  font-weight: 300;
  opacity: 0.5;
}

.footer__copyright-link {
  margin-right: 15px;
  text-decoration: underline;
}

.footer__copyright-right {
  display: flex;
}

.footer__copyright-text {
  margin-right: 15px;
}

.footer__copyright-dev {
  opacity: 0.5;
}

@media (max-width: 1023px) {

  .footer__wrap {
    padding-top: 65px;
  }

  .footer__col:nth-child(3) {
    width: 34%;
  }

  .footer__col-menu {
    margin-right: 40px;
  }

  .footer__copyright {
    padding: 12px 0 7px 0;
  }

}

@media (max-width: 767px) {

  .footer__wrap {
    flex-direction: column;
    padding-top: 24px;
  }

  .footer__col {
    width: auto;
  }

  .footer__col:nth-child(3) {
    width: auto;
  }

  .footer__col:nth-child(2) {
    width: auto;
    margin-bottom: 34px;
    justify-content: space-between;
  }

  .footer__col-menu {
    margin-right: 0;
  }

  .footer__col-menu-title {
    margin-bottom: 36px;
  }

  .footer__col-menu ul li {
    margin-bottom: 22px;
  }

  .footer__col-menu ul li a {
    font-size: 18px;
    font-weight: 700;
  }

  .footer__col-about {
    display: none;
  }

  .footer__col-logo-link {
    margin-bottom: 40px;
  }

  .footer__col-contact-title {
    padding-left: 13px;
  }

  .footer__col-contact-item {
    margin-bottom: 45px;
  }

  .footer__copyright {
    font-size: 12px;
  }

  .footer__copyright-left,
  .footer__copyright-right {
    flex-direction: column;
  }

  .footer__copyright-link {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer__copyright-right {
    align-items: flex-end;
  }

  .footer__copyright-text {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer__social {
    text-align: right;
  }

}
