$Comfortaa: "Comfortaa", Arial, Helvetica, sans-serif;
$Inter: "Inter", Arial, Helvetica, sans-serif;
$fz-16: 16px;
$white: #ffffff;
$black: #000000;
$blue: #93dfff;

html, body, h1, h2, h3, h4, h5, h6, p, button, ul, ol {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  font-family: $Inter;
  font-size: $fz-16;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
  color: $black;
  background: #fbfbfb;
}

svg {
  display: inline-block;
  fill: currentColor;
  stroke: none;
}

a {
  color: $black;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

main.open {
  display: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

label {
  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


@media (min-width: 1024px) {

  .container {
    max-width: 1110px;
  }

}
