div.projects
  div.container
    div.projects__wrap
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-1.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Проект «Электронная карта в образовании»: «Москвёнок» вчера, сегодня, завтра
          div.projects__item-name Департамент информационных технологий города Москвы
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-2.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Построение нового ЦОД пенсионного фонда «БУДУЩЕЕ»
          div.projects__item-name НПФ «БУДУЩЕЕ»
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-3.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Внедрение единой телефонной сети для ведущего дистрибьютора мировых брендов в России ЦДК
          div.projects__item-name Центральная дистрибьюторская компания (ЦДК)
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-4.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Сеть передачи данных и центра управления для спутникового оператора «Евтелсат Нетворкс»
          div.projects__item-name Евтелсат Нетворкc
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-5.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Построение нового ЦОД пенсионного фонда «БУДУЩЕЕ»
          div.projects__item-name НПФ «БУДУЩЕЕ»
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-6.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Внедрение единой телефонной сети для ведущего дистрибьютора мировых брендов в России ЦДК
          div.projects__item-name Центральная дистрибьюторская компания (ЦДК)
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-1.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Проект «Электронная карта в образовании»: «Москвёнок» вчера, сегодня, завтра
          div.projects__item-name Департамент информационных технологий города Москвы
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-2.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Построение нового ЦОД пенсионного фонда «БУДУЩЕЕ»
          div.projects__item-name НПФ «БУДУЩЕЕ»
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-3.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Внедрение единой телефонной сети для ведущего дистрибьютора мировых брендов в России ЦДК
          div.projects__item-name Центральная дистрибьюторская компания (ЦДК)
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-4.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Сеть передачи данных и центра управления для спутникового оператора «Евтелсат Нетворкс»
          div.projects__item-name Евтелсат Нетворкc
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-5.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Построение нового ЦОД пенсионного фонда «БУДУЩЕЕ»
          div.projects__item-name НПФ «БУДУЩЕЕ»
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-6.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Внедрение единой телефонной сети для ведущего дистрибьютора мировых брендов в России ЦДК
          div.projects__item-name Центральная дистрибьюторская компания (ЦДК)
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-4.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Сеть передачи данных и центра управления для спутникового оператора «Евтелсат Нетворкс»
          div.projects__item-name Евтелсат Нетворкc
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-5.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Построение нового ЦОД пенсионного фонда «БУДУЩЕЕ»
          div.projects__item-name НПФ «БУДУЩЕЕ»
      article.projects__item
        div.projects__item-picture
          img.projects__item-img(src="img/content/project-logo-6.png", alt="")
        div.projects__item-wrap
          h2.projects__item-title
            a.projects__item-link(href="case.html") Внедрение единой телефонной сети для ведущего дистрибьютора мировых брендов в России ЦДК
          div.projects__item-name Центральная дистрибьюторская компания (ЦДК)
