div.start
  div.container
    div.start__wrap
      div.start__intro ...более 30 проектов по России
      div.start__text LURE <span>IT</span> — Системная интерграция,<br>телекоммуникации и сетевые<br>технологии, облачные технологии, IT-системы,<br>поставки ИТ-оборудования и ПО
      button.start__btn Начать работу
  img.start__img.start__img_first(src="../img/svg/start-circle-1.svg", alt="")
  img.start__img.start__img_second(src="../img/svg/start-circle-2.svg", alt="")
  img.start__img.start__img_three(src="../img/svg/start-circle-3.svg", alt="")
