div.career
  div.container
    div.career__wrap
      img.career__img(src="img/svg/vacancy-you.svg", alt="")
      img.career__logo(src="img/svg/logo-dark.svg", alt="Lure IT")
      div.career__title Карьера в LURE <span>IT</span>  —  лучшая инвестиция
      p Место стратегических решений и высоких идей, не стандартно мыслящих единомышленников. У нас есть все для развития профессионального и личностного роста: опытный коллектив у которого есть чему поучиться, тренинги роста, семинары, конференции.
  img.career__photo.career__photo_1(src="img/content/vacancy-photo-1.png", alt="")
  img.career__photo.career__photo_2(src="img/content/vacancy-photo-2.png", alt="")
  img.career__photo.career__photo_3(src="img/content/vacancy-photo-3.png", alt="")
  img.career__photo.career__photo_4(src="img/content/vacancy-photo-4.png", alt="")
  img.career__photo.career__photo_5(src="img/content/vacancy-photo-5.png", alt="")
  img.career__photo.career__photo_6(src="img/content/vacancy-photo-6.png", alt="")
  img.career__photo.career__photo_7(src="img/content/vacancy-photo-7.png", alt="")
  img.career__photo.career__photo_8(src="img/content/vacancy-photo-8.png", alt="")
