div.work
  div.container
    div.work__title Вакансии <span>LURE</span> IT
    p Место стратегических решений и высоких идей, не стандартно мыслящих единомышленников. У нас есть все для развития профессионального и личностного роста: опытный коллектив у которого есть чему поучиться, тренинги роста, семинары, конференции.
    div.work__wrap
      div#accordionExample.work__accordion.accordion
        div.work__item.accordion-item
          h2#headingOne.work__header.accordion-header
            button.work__btn.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#collapseOne", aria-expanded="true", aria-controls="collapseOne") Программист FullStack  |  150 000 руб
          div#collapseOne.work__collapse.accordion-collapse.collapse.show(aria-labelledby="headingOne", data-bs-parent="#accordionExample")
            div.work__body.accordion-body
              div.work__body-wrap
                div.work__body-left
                  div.work__body-title Наши ожидания
                  div.work__body-text Требуется в команду сильный программист c опытом работы не менее 5ти лет в сфере разработки инженерного софта.
                  ul
                    li IТ-аудит
                    li IТ-консалтинг
                    li Знание технических особенностей оборудования
                    li JS
                    li Android / MAC OS
                    li Мобильные решения
                    li Автоматизация
                    li Разработка и отладка проссесов старта итд.
                  div.work__body-ps Знание английского будет дополнительным преимуществом, также желательно наличие двойного гражданство и безвизовый въезд в страны ЕС
                div.work__body-right
                  div.work__body-title Мы гарантируем:
                  div.work__body-text Конкурентную зарплату от 100 000 руб. + ежеквартальные премии и полностью оплачиваемые коммандировки
                  ul
                    li ОМС, ДМС
                    li Премия
                    li Повышение квалификации за наш счет у лучших специалистов
                    li Санаторий
                    li Солярий
                    li Спортзал
                    li Обеды за счет фирмы
                    li Личный автомобиль
              div.work__body-center
                button.work__body-btn Откликнуться на вакансию
                div.work__body-mail или напишите нам на <a href="#">hr@lureit.ru</a>
        div.work__item.accordion-item
          h2#headingTwo.work__header.accordion-header
            button.work__btn.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo") Программист Junior | 50 000 руб
          div#collapseTwo.work__collapse.accordion-collapse.collapse(aria-labelledby="headingTwo", data-bs-parent="#accordionExample")
            div.work__body.accordion-body
              div.work__body-wrap
                div.work__body-left
                  div.work__body-title Наши ожидания
                  div.work__body-text Требуется в команду сильный программист c опытом работы не менее 5ти лет в сфере разработки инженерного софта.
                  ul
                    li IТ-аудит
                    li IТ-консалтинг
                    li Знание технических особенностей оборудования
                    li JS
                    li Android / MAC OS
                    li Мобильные решения
                    li Автоматизация
                    li Разработка и отладка проссесов старта итд.
                  div.work__body-ps Знание английского будет дополнительным преимуществом, также желательно наличие двойного гражданство и безвизовый въезд в страны ЕС
                div.work__body-right
                  div.work__body-title Мы гарантируем:
                  div.work__body-text Конкурентную зарплату от 100 000 руб. + ежеквартальные премии и полностью оплачиваемые коммандировки
                  ul
                    li ОМС, ДМС
                    li Премия
                    li Повышение квалификации за наш счет у лучших специалистов
                    li Санаторий
                    li Солярий
                    li Спортзал
                    li Обеды за счет фирмы
                    li Личный автомобиль
              div.work__body-center
                button.work__body-btn Откликнуться на вакансию
                div.work__body-mail или напишите нам на <a href="#">hr@lureit.ru</a>
        div.work__item.accordion-item
          h2#headingThree.work__header.accordion-header
            button.work__btn.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseThree", aria-expanded="false", aria-controls="collapseThree") Дизайнер интерфейсов | 180 000 руб
          div#collapseThree.work__collapse.accordion-collapse.collapse(aria-labelledby="headingThree", data-bs-parent="#accordionExample")
            div.work__body.accordion-body
              div.work__body-wrap
                div.work__body-left
                  div.work__body-title Наши ожидания
                  div.work__body-text Требуется в команду сильный программист c опытом работы не менее 5ти лет в сфере разработки инженерного софта.
                  ul
                    li IТ-аудит
                    li IТ-консалтинг
                    li Знание технических особенностей оборудования
                    li JS
                    li Android / MAC OS
                    li Мобильные решения
                    li Автоматизация
                    li Разработка и отладка проссесов старта итд.
                  div.work__body-ps Знание английского будет дополнительным преимуществом, также желательно наличие двойного гражданство и безвизовый въезд в страны ЕС
                div.work__body-right
                  div.work__body-title Мы гарантируем:
                  div.work__body-text Конкурентную зарплату от 100 000 руб. + ежеквартальные премии и полностью оплачиваемые коммандировки
                  ul
                    li ОМС, ДМС
                    li Премия
                    li Повышение квалификации за наш счет у лучших специалистов
                    li Санаторий
                    li Солярий
                    li Спортзал
                    li Обеды за счет фирмы
                    li Личный автомобиль
              div.work__body-center
                button.work__body-btn Откликнуться на вакансию
                div.work__body-mail или напишите нам на <a href="#">hr@lureit.ru</a>
        div.work__item.accordion-item
          h2#headingFour.work__header.accordion-header
            button.work__btn.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseFour", aria-expanded="false", aria-controls="collapseThree") Менеджер проектов IT | 90 000 руб
          div#collapseFour.work__collapse.accordion-collapse.collapse(aria-labelledby="headingFour", data-bs-parent="#accordionExample")
            div.work__body.accordion-body
              div.work__body-wrap
                div.work__body-left
                  div.work__body-title Наши ожидания
                  div.work__body-text Требуется в команду сильный программист c опытом работы не менее 5ти лет в сфере разработки инженерного софта.
                  ul
                    li IТ-аудит
                    li IТ-консалтинг
                    li Знание технических особенностей оборудования
                    li JS
                    li Android / MAC OS
                    li Мобильные решения
                    li Автоматизация
                    li Разработка и отладка проссесов старта итд.
                  div.work__body-ps Знание английского будет дополнительным преимуществом, также желательно наличие двойного гражданство и безвизовый въезд в страны ЕС
                div.work__body-right
                  div.work__body-title Мы гарантируем:
                  div.work__body-text Конкурентную зарплату от 100 000 руб. + ежеквартальные премии и полностью оплачиваемые коммандировки
                  ul
                    li ОМС, ДМС
                    li Премия
                    li Повышение квалификации за наш счет у лучших специалистов
                    li Санаторий
                    li Солярий
                    li Спортзал
                    li Обеды за счет фирмы
                    li Личный автомобиль
              div.work__body-center
                button.work__body-btn Откликнуться на вакансию
                div.work__body-mail или напишите нам на <a href="#">hr@lureit.ru</a>
