div.worth
  div.container
    div.worth__wrap
      div.worth__carousel.owl-carousel
        div.worth__carousel-item
          img.worth__carousel-item-img(src="img/svg/vacancy-adv-1.svg", alt="")
          div.worth__carousel-text Нестандартный рабочий график, удовлетворит жаворанков и сов, планируйте сами ваше время
        div.worth__carousel-item
          img.worth__carousel-item-img(src="img/svg/vacancy-adv-2.svg", alt="")
          div.worth__carousel-text Достойная заработная плата и возможность увеличивать ее каждый без ограничений
        div.worth__carousel-item
          img.worth__carousel-item-img(src="img/svg/vacancy-adv-3.svg", alt="")
          div.worth__carousel-text Приятные мелочи - бесплатные обеды, теннис, XBOX, выездные корпоративы, подарки
