div.map
  div.container
    div.map__wrap
      img.map__logo(src="img/svg/logo-dark.svg", alt="")
      div.map__item
        div.map__item-title Головной офис
        div.map__item-text 109316,<br>г. Москва, Волгоградский пр-т, 47
      div.map__item
        div.map__item-title Представительство
        div.map__item-text 109316,<br>г. Москва, Волгоградский пр-т, 47
      div.map__item
        div.map__item-title Отдел работы с клиентами
        div.map__item-text 109316,<br>г. Москва, Волгоградский пр-т, 47
      a.map__route(href="#") Построить маршрут
        img(src="img/svg/contact-route.svg", alt="")
  div.map__frame
    iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A5f3186d370c0ac74f3867e309c061247cb849557c1f8abd0ed501805f175486a&amp;source=constructor")
