extends ../common/layout-about

block main
  main
    include ../includes/about/about-us
    include ../includes/about/partner
    include ../includes/about/cer
    include ../includes/about/staff
  include ../reuse/menu
