extends ../common/layout-case

block main
  main
    include ../includes/case/single
    div.case-advantages
      include ../reuse/advantages
    include ../includes/case/client
    include ../includes/case/reviews
    include ../includes/case/other
  include ../reuse/menu
