extends ../common/layout

block main
  main
    include ../includes/index/banner
    include ../includes/index/service
    include ../includes/index/company
    include ../includes/index/solution
    include ../includes/index/draft
    include ../reuse/skills
