extends ../common/layout-in

block main
  main
    include ../includes/vacancy/career
    include ../includes/vacancy/worth
    include ../includes/vacancy/work
    include ../reuse/skills
  include ../reuse/menu
