div.advantages
  div.advantages__wrap
    div.advantages__item
      svg.advantages__item-img.advantages__item-img_first
        use(xlink:href="img/sprite.svg#adv-1")
      div.advantages__item-number 10
      div.advantages__item-text день для запуска<br>проекта
    div.advantages__item
      svg.advantages__item-img.advantages__item-img_second
        use(xlink:href="img/sprite.svg#adv-2")
      div.advantages__item-number 14%
      div.advantages__item-text повышение<br>выручки с проекта
    div.advantages__item
      svg.advantages__item-img.advantages__item-img_three
        use(xlink:href="img/sprite.svg#adv-3")
      div.advantages__item-number 5%
      div.advantages__item-text снижение затрат<br>без потери эффективности
    div.advantages__item
      svg.advantages__item-img.advantages__item-img_four
        use(xlink:href="img/sprite.svg#adv-3")
      div.advantages__item-number 8%
      div.advantages__item-text снижение затрат на<br>договор найма
