div#requisites.modal.fade.modal-window.requisites(tabindex="-1" aria-hidden="true")
  div.modal-dialog.requisites__wrap.modal-dialog-centered
    div.modal-content.requisites__content
      button.requisites__close.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
      div.modal-body.requisites__wrap
        p <strong>Полное наименование организации</strong><br>Общество с ограниченной ответственностью «Весна»<br><strong>ЮРИДИЧЕСКИЙ АДРЕС</strong><br> 123456, г. Москва, ул. Подвойского, д. 14, стр. 7<br><strong>Почтовый адрес</strong><br>123456, г. Москва, ул. Подвойского, д. 14, стр. 7<br><strong>ИНН</strong>	7712345678<br><strong>КПП</strong>	779101001<br> <strong>БИК</strong> 044521234<br><strong>Р/С</strong> 40702810123450101230 в Московский банк ПАО Сбербанк г. Москва <br><strong>К/С</strong>30101234500000000225<br><strong>ОКПО</strong>12345678<br><strong>ОКАТО</strong>87654321000<br><strong>ОКВЭД</strong>(основной)	18.15<br><strong>ОГРН</strong>1047712345678<br><strong>Генеральный директор</strong>Петров Сергей Петрович<br><strong>Электронная почта</strong>info@vesna.ru<br><strong>Телефон</strong>+749512345678<br><strong>Сайт</strong>www.vesna.ru<br>
        div.requisites__bottom
          button.requisites__btn Скопировать в буфер
          a.requisites__download(href="#", download="download") Скачать .doc

