div.skills
  div.skills__wrap
    div.skills__callback.skills__item
      div.skills__callback-title Мы на связи!
      div.skills__callback-text Расскажите нам о вашем проекте или задайте любые вопросы.
      button.skills__callback-btn Напишите нам
    div.skills__dev.skills__item
      div.skills__dev-left
        div.skills__dev-item
          span Development
          span 95%
          div.skills__dev-range
            div.skills__dev-range-fill
        div.skills__dev-item
          span Product Design
          span 80%
          div.skills__dev-range
            div.skills__dev-range-fill
        div.skills__dev-item
          span SMM
          span 80%
          div.skills__dev-range
            div.skills__dev-range-fill
        div.skills__dev-item
          span Motion Design
          span 85%
          div.skills__dev-range
            div.skills__dev-range-fill
      div.skills__dev-right
        div.skills__dev-right-wrap
          div.skills__dev-right-number 10
          div.skills__dev-right-text лет на рынке IT  разработки
    div.skills__projects.skills__item
      div.skills__projects-wrap
        img.skills__projects-img(src="img/content/skills-hand.jpg", alt="")
        div.skills__projects-right
          div.skills__projects-right-number 25
          div.skills__projects-right-text реализованных проектов за 2020 год
    div.skills__solution.skills__item
      div.skills__solution-wrap
        img.skills__solution-img(src="img/content/skills-pc.jpg", alt="")
        div.skills__solution-right
          div.skills__solution-title Решения
          ul.skills__solution-list
            li.skills__solution-item App Solution
            li.skills__solution-item Интеграция
            li.skills__solution-item Support BDK
            li.skills__solution-item Solution Android
    div.skills__computers.skills__item
      img.skills__computers-img(src="img/content/skills-computers.jpg", alt="")
    div.skills__map.skills__item
      div.skills__map-wrap
        div.skills__map-left
          div.skills__map-number 60
          div.skills__map-text квалифицированных специалистов в компании
        div.skills__map-right
          img.skills__map-img(src="img/content/skills-map.jpg", alt="")
