div.client
  div.container
    div.client__wrap
      div.client__name Заказчик:
      img.client__logo(src="img/content/case-logo.png", alt="")
      p.client__description «Евтелсат Нетворкс» – российское представительство глобального оператора спутниковой связи Eutelsat S.A., который входит в тройку мировых лидеров среди поставщиков спутниковых услуг связи для целей телерадиовещания и передачи данных.
    div.client__slider
      div.client__slider-wrap
        div.client__slider-item
          div.client__slider-left
            span.client__slider-number 01.
            span.client__slider-title Технологии, используемые в LURE IT и собственные разработки
          div.client__slider-right
            img.client__slider-right-img(src="img/content/draft-logo-1.png", alt="")
            img.client__slider-right-img(src="img/content/draft-logo-2.png", alt="")
            img.client__slider-right-img(src="img/content/draft-logo-2.png", alt="")
            img.client__slider-right-img(src="img/content/draft-logo-1.png", alt="")
      div.client__slider-dots
        button.client__slider-dot.active
        button.client__slider-dot
        button.client__slider-dot
        button.client__slider-dot
    div.client__text
      div.client__text-title Описание и результаты
      p В связи с запуском спутникового интернет-вещания на территории России силами компании «РАССЭ» (ГК «Ай-Теко») на базе решений Cisco создана сеть передачи данных и центра ее управления для «Евтелсат Нетворкс».
      p В течение года специалисты компании «РАССЭ», основанной в 2014 году в структуре «Ай-Теко» и специализирующейся на оказании профессиональных услуг и создании эффективных решений для телекоммуникационной и энергетической отраслей, выполнили полный комплекс работ по построению сети передачи данных спутникового оператора «с нуля», включая проектирование, монтаж, настройку, интеграцию, приемо-сдаточные испытания, подготовку необходимого комплекта документации. Помимо этого, в рамках проекта было обеспечено отказоустойчивое подключение станции к центрам обмена трафиком в России (Internet Exchange MSK-IX, DataLine OST), интеграция со спутниковым хабом Gilat SkyEdge II-c, подготовка ИТ-инфраструктуры для системы OSS/BSS.
      p В ходе работ спроектировано и внедрено комплексное решение, полностью покрывающее функционал центрального узла связи оператора, включая технологии <strong>MPLS</strong>, <strong>ASBR BGP Full View</strong>, <strong>OSPF</strong>, <strong>NAT</strong>, серверы с виртуализацией, СХД. Для создания опорной сети выбраны технологии компании Cisco. Для развертывания ИТ-инфраструктуры использовались решения и продукты Cisco, EMC, VMware.
      p В сентябре 2016 года, спустя год после старта проекта, оператор официально объявил о запуске спутникового интернет-вещания на территории России.
      p В планах «РАССЭ» и ООО «Евтелсат Нетворкс» – бесперебойная эксплуатация действующей инфраструктуры и реализация новых этапов проекта, предусматривающих развитие сетевой инфраструктуры с увеличением состава оборудования и его производительности.
  div.client__ellipse
    img.client__ellipse-img(src="img/svg/draft-ellipse.svg", alt="")
    button.client__dot.active.client__dot_first
    button.client__dot.client__dot_second
    button.client__dot.client__dot_three
    button.client__dot.client__dot_four
