div.other
  div.other__wrap
    div.other__prev
      a.other__prev-link(href="#") Предыдущий проект
      div.other__prev-project
        img.other__prev-project-img(src="img/content/partner-6.png", alt="")
        a.other__prev-project-title(href="#") Построение нового ЦОД пенсионного фонда «БУДУЩЕЕ»
        div.other__prev-project-company НПФ «БУДУЩЕЕ»
    div.other__center
      div.other__center-title Начать работать с нами прямо сейчас
      button.other__center-btn Напишите нам!
    div.other__next
      a.other__next-link(href="#") Предыдущий проект
      div.other__next-project
        img.other__next-project-img(src="img/content/partner-2.png", alt="")
        a.other__next-project-title(href="#") Проект «Электронная карта в образовании»: «Москвёнок» вчера, сегодня, завтра
        div.other__next-project-company Департамент информационных технологий города Москвы
