div.reviews
  div.container
    div.reviews__title Комментарии специалистов:
  div.reviews__wrap
    div.reviews__carousel
      div.reviews__item
        div.reviews__item-header
          div.reviews__item-name Кирилл Янченко
          div.reviews__item-position генеральный директор ООО «Евтелсат Нетворкс»
        p.reviews__item-text «Создание собственной наземной инфраструктуры гарантирует максимально возможный контроль качества предоставляемых нами услуг и новые перспективы для развития их спектра. Перед нами стоит и не менее важная задача по дальнейшему наращиванию производительности сети. При этом мы готовы развиваться, поддерживая весь объем услуг для текущих клиентов и сохраняя высокий уровень качества уже оказываемых сервисов. Благодаря партнерству с компанией «РАССЭ» уверены, что это более чем возможно».
        img.reviews__item-photo(src="img/content/vacancy-photo-1.png", alt="")
      div.reviews__item
        div.reviews__item-header
          div.reviews__item-name Константин Парфенов
          div.reviews__item-position управляющий директор компании «РАССЭ»
        p.reviews__item-text «В этом проекте мы сможем последовательно нарастить производительность и функциональность узла связи по мере роста нагрузки, совместно с клиентом реализуя стратегию PayAsYouGrow от Cisco. Предложения нашего постоянного технологического партнера позволят «Евтелсат Нетворкс» не только быстро выводить на рынок новые услуги, но и обеспечить большую пропускную способность при неизменно стабильной и надежной работе сети».
        img.reviews__item-photo(src="img/content/case-review-2.png", alt="")
    div.reviews__bar
      div.reviews__bar-percent
