div.single
  div.container
    div.single__wrap
      img.single__logo(src="img/content/case-logo.png", alt="")
      div.single__title Внедрение единой телефонной сети для ведущего дистрибьютора мировых брендов в России ЦДК
      div.single__company Центральная дистрибьюторская компания (ЦДК)
  img.single__circle.single__circle_1(src="img/svg/case-circle-1.svg", alt="")
  img.single__circle.single__circle_2(src="img/svg/case-circle-2.svg", alt="")
  img.single__circle.single__circle_3(src="img/svg/case-circle-3.svg", alt="")
  img.single__circle.single__circle_4(src="img/svg/case-circle-4.svg", alt="")
