footer.footer
  div.container
    div.footer__wrap
      div.footer__col
        a.footer__col-logo-link(href="#")
          img.footer__col-logo-img(src="img/svg/logo.svg", alt="")
        div.footer__col-about Компания существует на рынке более 10 лет, и знаменита проектами такими как: Сбербанк, Альфа, Гугл, Яндекс.
        div.footer__social
          a.footer__social-link(href="#", target="_blank")
            img.footer__social-icon(src="img/svg/in.svg", alt="")
          a.footer__social-link(href="#", target="_blank")
            img.footer__social-icon(src="img/svg/facebook.svg", alt="")
      div.footer__col
        div.footer__col-menu
          div.footer__col-menu-title Решения
          ul
            li
              a(href="#") Soft
            li
              a(href="#") Hard
            li
              a(href="#") App
            li
              a(href="#") Round Bonus IT
        div.footer__col-menu
          div.footer__col-menu-title LURE IT
          ul
            li
              a(href="#") Карьера
            li
              a(href="#") О компании
            li
              a(href="#") IT-Cервис
      div.footer__col
        div.footer__col-contact-title Контакты
        div.footer__col-contact-item.footer__col-contact-item_address 109316, г. Москва, Волгоградский пр-т, 47
        div.footer__col-contact-item.footer__col-contact-item_phone
          a.footer__col-contact-link(href="#") +7 499 455 04 45 (инженеры)
          a.footer__col-contact-link(href="#") +7 499 394 45 77 (отдел продаж)
        div.footer__col-contact-item.footer__col-contact-item_mail
          a.footer__col-contact-link(href="#") info@invitech-ir.ru
        div.footer__col-contact-item.footer__col-contact-item_time Пн - Пт | 10:00 - 18:00
    div.footer__copyright
      div.footer__copyright-wrap
        div.footer__copyright-left
          a.footer__copyright-link(href="#") Privacy Policy
          a.footer__copyright-link(href="#") Legal information
        div.footer__copyright-right
          div.footer__copyright-text © LURE IT © Copyright 2021
          div.footer__copyright-dev
            a(href="https://promind.studio", target="_blank") Designed by <img src="img/svg/promind.svg" alt=""> Promind
