header.header.header_inner
  div.container
    div.header__wrap
      div.header__left
        button.header__menu menu
        //a.header__soft(href="#") Soft
      div.header__middle
        a(href="index.html")
          img.logo-bas(src="img/svg/logo-dark.svg", alt="Lure IT")
          img.alt-logo(src="img/svg/logo.svg", alt="Lure IT")
      div.header__right
        button.header__lang en
        a.header__person(href="#")
  div.service__menu.service__menu_index
    div.service__menu-wrap
      button.service__menu-btn menu
      a(href="index.html")
        img.service__menu-img(src="img/svg/logo-dark.svg", alt="Lure IT")
