header.header
  div.container
    div.header__wrap
      div.header__left
        button.header__menu menu
        //a.header__soft(href="#") Soft
      div.header__middle
        a(href="#")
          img(src="img/svg/logo.svg", alt="Lure IT")
      div.header__right
        button.header__lang en
        a.header__person(href="#")

